@charset "utf-8";
/* Policy */

#policy
{
	width: 700px;
	padding: 30px auto 30px auto;
	margin: 50px auto 100px auto;
}
#policy p
{
	padding-left: 18px;
  	text-align: left;
	font-size: 15px;
	font-weight: 500;
	text-align: justify;
}

#policy h2
{
	padding-left: 18px;
	color: black;
	text-align: center;
	font-weight: bold;
	font-size: 30px;
	text-transform: none;
	padding: 0 18px;
	letter-spacing: 2px;
}

#policy h4
{
	padding-left: 18px;
  	text-align: left;
	font-size: 20px;
	font-weight: bold;
	text-align: justify;
}