@charset "utf-8";
/* Text info */

#foot
{
	width: 570px;
	padding: 30px auto 30px auto;
	margin: 100px auto 100px auto;
}
#foot p
{
	padding-left: 18px;
  	text-align: left;
	font-size: 15px;
	font-weight: 500;
	padding-bottom: 20px;
	text-align: justify;
}

#foot h2
{
	color: darkslategray;
	text-align: center;
	font-weight: bold;
	font-size: 30px;
	text-transform: none;
	padding: 0 18px;
	letter-spacing: 2px;
}

#foot h6
{
	padding-left: 18px;
  	text-align: left;
	font-size: 15px;
	font-weight: bold;
	padding-bottom: 20px;
	text-align: justify;
}